@use '../../../styles/variables' as *;
@use '../../../styles/user-list';

.add-user-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.add-user-form__error {
  margin: 0;
  font-size: 12px;
  color: $color-important;
}
