@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.profile-field {
  padding: 24px 0 10px;
  border-bottom: 1px solid $color-line;

  &:last-of-type {
    border-bottom: none;
  }
}

.profile-field__input-wrapper {
  @include flex-between;
}

.profile-field__label {
  font-size: 13px;
  line-height: 13px;
}

.profile-field__input {
  border: none;
  padding: 0;
  text-align: right;
  color: $color-muted;
  font-size: 13px;
  line-height: 13px;

  &:focus {
    outline: none;
  }
}

.profile-field__error {
  display: block;
  min-height: 14px;
  margin-top: 4px;
  color: #ff4d4f;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
}

.profile__field_error {
  border-color: #ff4d4f;
}
