$font-family-base: 'Inter', sans-serif;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$color-primary: #3369F3;
$color-text: #1E1E1E;
$color-muted: #999;
$color-white: #FFF;
$color-important: #F00;
$color-line: #EAEAEA;
$color-search-bg: #EFEFEF;
$color-bg: #FBFBFB;
$color-chat-hover: #E4EDFD;
