$font-family-base: 'Inter', sans-serif;
$font-weight-medium: 500;
$font-weight-semibold: 600;

$color-primary: #3369F3;
$color-text: #1E1E1E;
$color-muted: #999999;
$color-white: #FFFFFF;
$color-important: #FF0000;
$color-line: #EAEAEA;
$color-searchBg: #EFEFEF;
$color-bg: #FBFBFB;
$color-chatHover: #E4EDFD;