.modal {
  position: fixed;
  z-index: 100;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__overlay {
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 40%);
}

.modal__content {
  position: relative;
  z-index: 1;
  width: 340px;
  padding: 40px 30px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
}

.modal__title {
  margin: 0 0 32px;
  font-size: 18px;
  text-align: center;
}

.modal__body {
  width: 100%;
}
