@use '../../../styles/variables' as *;

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 55px;
  padding: 10px 10px 10px 25px;
  border-bottom: 1px solid $color-line;
  box-sizing: border-box;
}

.chat-header__info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat-header__avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-header__title {
  margin: 0;
  font-size: 13px;
  font-weight: $font-weight-semibold;
}

.chat-header__menu-wrapper {
  position: relative;
}

.chat-header__menu {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 10;

  min-width: 210px;
  padding: 8px 0;

  background: $color-white;
  border-radius: 12px;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
}

.chat-header__menu-item {
  display: block;
  width: 100%;
  padding: 10px 15px;

  border: none;
  background: none;

  text-align: left;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    background: $color-chat-hover;
  }
}
