@use '../../styles/variables' as *;
@use '../../styles/mixins.scss' as *;

.link {
  text-decoration: none;
  text-align: center;
  display: block;
  @include hover-opacity;
}

.link_default {
  font-size: 11px;
  line-height: 11px;
  color: $color-primary;
}

.link_profile {
  font-size: 12px;
  line-height: 21px;
  color: $color-muted;
}